Repository StackExchange/Stacks-Icons, pull requests merged in 2022-07, with the labels that each got.

#135 Created new Stacks Editor Format Icons
  src/Icon/MarkdownPreview.svg
  src/Icon/RichText.svg
Labels: enhancement, icon

#132 New discord icon
  src/Icon/Discord.svg
Labels: enhancement

#133 Update / add new Bookmark icons
  src/Icon/Bookmark.svg
  src/Icon/BookmarkAlt.svg
Labels: enhancement, BREAKING CHANGE, icon
